<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03</title>
</head>
<body>
    <div id="app">
        <h1 data-mode="dark">{{title}}</h1>
        <h6>{{price}}元</h6>
    
    <div>
        <!-- count = count - 1 -->
        <button @click="reduceCount">-</button>
        <!-- <input type="text" v-model="count"> -->
        <input type="text" v-model.number="count">
        <!-- <input type="number" v-model="count"> -->
        <button @click="addCount">+</button>
    </div>
        <button>Add</button>
        <p>總計：{{total}}元</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return{
                    title: '我是一個商品',
                    price: 100,
                    count: 0, //number
                    total: 0
                }
            },
            methods:{
                addCount(){
                    this.count += 1
                    // this.total = this.count * this.price
                    this.sumTotal()
                    // console.log(e);
                    // console.log(this.count);
                    // count -= 1
                },
                reduceCount(){
                    if(this.count <= 0) return
                    // count = count -1
                    this.count -=1
                    this.sumTotal()
                },
                sumTotal(){
                    this.total = this.count * this.price
                }
            }
        }).mount("#app")
    </script>
</body>
</html>